<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Health Newspaper App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list>
      <ion-item (click)="openTheNation()">
        <ion-label>The Nation</ion-label>
      </ion-item>
      
      <ion-item (click)="openTheLeadership()">
        <ion-label>Leadership</ion-label>
      </ion-item>

      <ion-item (click)="openTribune()">
        <ion-label>Nigerian Tribune</ion-label>
      </ion-item>

      <ion-item (click)="openDailyTimes()">
        <ion-label>Daily Times</ion-label>
      </ion-item>

      <ion-item (click)="openNationalMirror()">
        <ion-label>National Mirror</ion-label>
      </ion-item>
    </ion-list>

  </ion-list>
</ion-content>
